name: release

on:
  push:
    tags:
    - '*'
    branches-ignore:
    - '*'
    - '**/*'

jobs:

  call-build:
    uses: adevinta/maiao/.github/workflows/go.yml@main

  publish:
    runs-on: ubuntu-latest
    needs: call-build
    steps:
    - uses: actions/download-artifact@v5
      with:
        name: maiao
    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        files: |
          git-review*
